      <section class="h-100 gradient-custom-2 my-4" ng-controller="UserProfileCon">
        <div class="container w-75 rounded-3" style="background-color: #09778d; font-family: 'Cantata One', serif;">
          <div class="row py-3 border-bottom border-2 border-light">
              <div class="col-4">
                  <div class="text-center mt-4"><img ng-src="http://localhost:4000/images/{{random_img}}" alt="" width="150" height="150" class="mt-3 rounded-3 border border-2 border-light"></div>
              </div>
              <div class="col-8">
                   <div class="fs-3 fw-semibold text-white ms-4 mt-3">{{random_name}}</div>
                   <div class="fs-5 fw-normal text-white mx-4 pb-4">{{random_email}}</div>
                   <div class="border border-2 border-light mx-4 rounded-2" style="background-color: #015b6d;">
                   <div class="row mt-3">
                      <div class="col-4 text-center d-flex justify-content-center"><div class="fs-5 fw-semibold px-2 py-1 rounded-1 text-white">{{cou}}</div></div>
                      <div class="col-4 text-center d-flex justify-content-center"><div class="fs-5 fw-semibold px-2 py-1 rounded-1 text-white">45</div></div>
                      <div class="col-4 text-center d-flex justify-content-center"><div class="fs-5 fw-semibold px-2 py-1 rounded-1 text-white">435</div></div>
                   </div>
                   <div class="row pb-3">
                      <div class="col-4 text-center"><div class="fs-5 fw-normal text-white">Post</div></div>
                      <div class="col-4 text-center"><div class="fs-5 fw-normal text-white">Subscriber</div></div>
                      <div class="col-4 text-center"><div class="fs-5 fw-normal text-white">Subscribed</div></div>
                   </div>
                   </div>
              </div>
          </div>
          <div><p class="text-white text-start mx-3  fs-5 fw-semibold mt-3">About</p></div>
          <div class="text-white rounded-2 mx-3 p-2" style="height:100px; background-color:#015b6d ;">{{random_about}}</div>
          <div class="fs-5 fw-normal text-white mx-4 mt-4 pb-2">Recent Posts</div>
          <div class="overflow-auto" style="height:400px;">
            <div class="d-flex"><div ng-hide="np" class="mx-4 my-2 fs-5 fw-semibold text-white p-2 rounded-2" style="background-color:#015b6d;">No Post Available</div></div>
          <div class="border border-2 mx-4 my-2 rounded-2" ng-repeat="r in Reviews">
             <div class="container-fluid sec pb-1">
                 <div style="background-color: #09778d;">
                     <div class="s2">
                       <div class="border border-start-0 border-end-0 border-top-0 border-2 border-light">
                         <div class="d-flex justify-content-between py-2 ms-3">
                         <button class="btn btn-outline-primary text-white border-light ms-2 rounded-circle fw-normal fs-6 p-2 rounded-3" ng-click="viewPost(r.R_ID)" type="submit">View Post</button>
                         </div>
                       </div>
                       <div class="d2 row pb-2">
                         <div class="col-6">
                         <div class="text-white text-start ms-3 fs-5 fw-semibold">Images</div>
                         <div class="mt-1 ms-2 d2 rounded-2" style="background-color: #015b6d;">
                           <div  class="rounded-2 text-white py-3">
                            <div class="d-flex justify-content-evenly">
                              <img ng-src="http://localhost:4000/images/{{r.im1}}" alt="" width="120" height="120" class="rounded-3 border border-2 border-light">
                              <img ng-src="http://localhost:4000/images/{{r.im2}}" alt="" width="120" height="120" class="rounded-3 border border-2 border-light">
                              <img ng-src="http://localhost:4000/images/{{r.im3}}" alt="" width="120" height="120" class="rounded-3 border border-2 border-light">
                            </div>
                            <div class="d-flex justify-content-evenly">
                              <img ng-src="http://localhost:4000/images/{{r.im4}}" alt="" width="120" height="120" class="mt-3 rounded-3 border border-2 border-light">
                              <img ng-src="http://localhost:4000/images/{{r.im5}}" alt="" width="120" height="120" class="mt-3 rounded-3 border border-2 border-light">
                              <img ng-src="http://localhost:4000/images/{{r.im6}}" alt="" width="120" height="120" class="mt-3 rounded-3 border border-2 border-light">
                            </div>
                          </div>
                         </div>
                         </div>
                         <div class="col-6">
                         <div class="text-white text-start ms-3 fs-5 fw-semibold">See the results</div>
                         <div class="me-2 py-3 d2 text-break rounded-2" style="background-color: #015b6d;">
                          <div class="d-flex text-white ms-2"><p class="px-2 fw-semibold fs-6">Product Name :</p><p class="ms-1 px-2 rounded-2" style="background-color:#015b6d;">{{r.Product_Name}}</p></div>
                          <div class="d-flex text-white ms-2"><p class="px-2 fw-semibold fs-6">Review Title :</p><p class="ms-1 px-2 rounded-2" style="background-color:#015b6d;">{{r.Review_Title}}</p></div>
                          <div class="ms-2 me-2 text-white border border-2 border-light" style="height:180px;" ><p class="p-2">{{r.TextReview}}</p></div>
                         </div>
                         </div>
                       </div>
                     </div>
               </div>
             </div>
          </div>
          </div>
      </div> 
      </section>






